
header {
  height: 40px;
  padding: 20px 0;
  border-bottom: 1px solid #e7e7e7;
  z-index: 99;

}



/* footer {
  background-color: #25253d;
  padding: 64px 0 56px;
  position: fixed;
  /* bottom: -10px; */
/* z-index: 1; */
/* width: 100%; */

/* }  */
/* */

.container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-self: flex-start;
}

.card-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: -60px;
  margin-top: 5px;
  
  
}

.card {
  float: left;
  /* display: inline; */
  margin-left: 14px;
  margin-right: 14px;
  height: 50px;
  border-style: groove;
  border-color: #3b66f5;
  border-width: 1px;
  margin-bottom: 7%;
  width: 150px;
  height: 195px;
  font-size: x-small;
  font-family: 'Roboto';
  /* align-items: flex-start; */


}

.card-header{
  width: 150px;
  height: 195px;
}

.card .card-header img {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .3s ease-out;
}



@media only screen and (max-width: 400px) {
  .card {
    width: 70px;
    height: 100px;
    /* text-justify: inter-ideograph; */
    /* overflow: ; */
  }
  .card-header{
    width: 70px;
    height: 100px;
  }
  /* .card span {width:70px;overflow:hidden;height:5px;line-height:5px;}​ */
  .card-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -60px;
    margin-top: 5px;
    
    
  }
}